.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 68px;
  padding: 0 60px;

  &-logo {
    width: 92px;
    height: auto;
    margin-right: 25px;
  }

  &-menu {
    &-item {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      margin-right: 20px;
      transition: color 400ms ease-in-out;

      &:hover {
        color: darken(#fff, 30%);
      }
    }
  }

  &-icon {
    color: #fff;

    font-size: 26px;
    margin: 0 15px;
  }

  &-right {
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }

  .active {
    font-weight: 700;
    cursor: initial;
    &:hover {
      color: #fff;
    }
  }
}
