.slider {
  padding: 0;
  position: relative;
  margin-bottom: 40px;

  &-content {
    white-space: nowrap;
    width: 100%;
  }

  &:hover,
  &:active {
    .slider-control {
      background-color: rgba(20, 20, 20, 0.7);
    }

    .slider-control-arrow {
      display: block;
    }
  }
}
